body {
  font-family: 'Monsieur La Doulaise', 'sans-serif';
}

section {
  background: #ff0000;
}

h1 {
  color: white;
  font-family: 'Anton', 'sans-serif';
}

#product-overview {
  background: #ffff00;
}

#product-overview h1 {
  color: black;
}

.plan-title {
  color: #0000ff;
}
